<% include ../partials/header.ejs %>

<% include ../partials/nav.ejs %>



<div class="container">
    <h3><i class="fas fa-dove fa-md"></i> The total price for <%= type %> at <%= weight %>oz is $<%= Number(answer).toFixed(2) %>  <i class="fas fa-cloud-meatball fa-md"></i></h3>
</div>





<% include ../partials/footer.ejs %>